body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/* Header Section */

.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.title {
    font-size: 24px;
    color: #FFFFFF;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px; 
}

.header-links .a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', arial;
    font-size: 18px;
    padding: 10px;
    gap: 8px;
}

/* Hero Section */

.hero {
    display:flex;
    color: #F9FAF8;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 90px;
    gap: 20px;
}

.hero-intro {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.hero-intro p {
    font-family: 'Roboto', arial;
    font-size: 15px;
    opacity: 0.8;
}

.hero button {
    display: block;
    text-align: center;
    width: 100px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.hero-image-1 img {
    width: auto;
    height: auto;
}